CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_hostapd-basic=m
CONFIG_PACKAGE_hostapd-basic-openssl=m
CONFIG_PACKAGE_hostapd-basic-wolfssl=m
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_hostapd-wolfssl=m
CONFIG_PACKAGE_ibt-firmware=y
CONFIG_PACKAGE_imagemagick=m
CONFIG_PACKAGE_intel-microcode=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_iperf3-ssl=y
CONFIG_PACKAGE_ipip=y
CONFIG_PACKAGE_ipset-dns=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptraf-ng=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_iputils-clockdiff=y
CONFIG_PACKAGE_iputils-ping=y
CONFIG_PACKAGE_iputils-tracepath=y
CONFIG_PACKAGE_ipvsadm=y
CONFIG_PACKAGE_irtt=y
CONFIG_PACKAGE_iw-full=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_iwl3945-firmware=y
CONFIG_PACKAGE_iwl4965-firmware=y
CONFIG_PACKAGE_iwlwifi-firmware-ax200=y
CONFIG_PACKAGE_iwlwifi-firmware-ax210=y
CONFIG_PACKAGE_iwlwifi-firmware-iwl100=y
CONFIG_PACKAGE_iwlwifi-firmware-iwl1000=y
CONFIG_PACKAGE_iwlwifi-firmware-iwl105=y
CONFIG_PACKA
CONFIG_PACKAGE_kmod-keys-trusted=y
CONFIG_PACKAGE_kmod-ledtrig-audio=y
CONFIG_PACKAGE_kmod-lib-crc7=m
CONFIG_PACKAGE_kmod-lib-crc8=m
CONFIG_PACKAGE_kmod-lib-lz4=m
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-libsas=m
CONFIG_PACKAGE_kmod-loop=m
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_kmod-mac80211-hwsim=m
CONFIG_PACKAGE_kmod-md-linear=m
CONFIG_PACKAGE_kmod-md-mod=m
CONFIG_PACKAGE_kmod-md-multipath=m
CONFIG_PACKAGE_kmod-md-raid0=m
CONFIG_PACKAGE_kmod-md-raid1=m
CONFIG_PACKAGE_kmod-md-raid10=m
CONFIG_PACKAGE_kmod-md-raid456=m
CONFIG_PACKAGE_kmod-mt76=m
CONFIG_PACKAGE_kmod-mt76-connac=y
CONFIG_PACKAGE_kmod-mt76-core=y
CONFIG_PACKAGE_kmod-mt76-sdio=m
CONFIG_PACKAGE_kmod-mt76-usb=m
CONFIG_PACKAGE_kmod-mt7601u=m
CONFIG_PACKAGE_kmod-mt7603=m
CONFIG_PACKAGE_kmod-mt7615-common=m
CONFIG_PACKAGE_kmod-mt7615-firmware=m
CONFIG_PACKAGE_kmod-mt7615e=m
CONFIG_PACKAGE_kmod-mt7663-firmware-ap=m
CONFIG_PACKAGE_kmod-mt7663-firmware-sta=m
CONFIG_PACKAGE_kmod-mt7663-usb-sdio=m
CONFIG_PACKAGE_kmod-mt7663s=m
CONFI
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_libtasn1=m
CONFIG_PACKAGE_libtiff=m
CONFIG_PACKAGE_libtirpc=y
CONFIG_PACKAGE_libunistring=y
CONFIG_PACKAGE_libupnp=y
CONFIG_PACKAGE_liburing=m
CONFIG_PACKAGE_libvorbis=y
CONFIG_PACKAGE_libwebp=y
CONFIG_PACKAGE_libwolfssl=m
CONFIG_PACKAGE_libwrap=y
CONFIG_PACKAGE_libwxbase=y
CONFIG_PACKAGE_libxml2=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_luci-app-acme=y
CONFIG_PACKAGE_luci-app-adblock=y
CONFIG_PACKAGE_luci-app-advanced-reboot=y
CONFIG_PACKAGE_luci-app-ahcp=y
CONFIG_PACKAGE_luci-app-airplay2=y
CONFIG_PACKAGE_luci-app-aliyundrive-webdav=y
CONFIG_PACKAGE_luci-app-amule=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-asterisk=y
CONFIG_PACKAGE_luci-app-cifs-mount=y
CONFIG_PACKAGE_luci-app-cifsd=y
CONFIG_PACKAGE_luci-app-dawn=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-dnscrypt-proxy=y
CONFIG_PACKAGE_luci-app-dnsforwarder=y
CONFIG_PACKAGE_luci-app-docker=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_
CONFIG_PACKAGE_luci-i18n-vnstat-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vpnbypass-zh-cn=y
CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=y
CONFIG_PACKAGE_luci-i18n-webadmin-zh-cn=y
CONFIG_PACKAGE_luci-lib-docker=y
CONFIG_PACKAGE_luci-lib-dracula=y
CONFIG_PACKAGE_luci-lib-httpclient=y
CONFIG_PACKAGE_luci-lib-httpprotoutils=y
CONFIG_PACKAGE_luci-lib-iptparser=y
CONFIG_PACKAGE_luci-lib-jquery-1-4=y
CONFIG_PACKAGE_luci-lib-json=y
CONFIG_PACKAGE_luci-lib-luaneightbl=y
CONFIG_PACKAGE_luci-lib-px5g=y
CONFIG_PACKAGE_luci-proto-relay=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_lxc=y
CONFIG_PACKAGE_lxc-attach=y
CONFIG_PACKAGE_lxc-common=y
CONFIG_PACKAGE_lxc-configs=y
CONFIG_PACKAGE_lxc-console=y
CONFIG_PACKAGE_lxc-create=y
CONFIG_PACKAGE_lxc-hooks=y
CONFIG_PACKAGE_lxc-templates=y
CONFIG_PACKAGE_minidlna=y
CONFIG_PACKAGE_mjpg-streamer=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_mt7601u-firmware=m
CONFIG_PACKAGE_mt7622bt-firmware=m
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_mxml=y
CONFIG_PACKAGE_netdata=y
CONFIG_PACKAGE_nfs-kernel-serv
CONFIG_SAMBA4_SERVER_VFS=y
CONFIG_SAMBA4_SERVER_WSDD2=y
CONFIG_SDK=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_JSON1=y
CONFIG_SQLITE3_LIBEDIT=y
CONFIG_SQLITE3_RTREE=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TESTING_KERNEL=y
# CONFIG_VMDK_IMAGES is not set
CONFIG_WOLFSSL_ALT_NAMES=y
CONFIG_WOLFSSL_ASM_CAPABLE=y
CONFIG_WOLFSSL_HAS_AES_CCM=y
CONFIG_WOLFSSL_HAS_ARC4=y
CONFIG_WOLFSSL_HAS_CERTGEN=y
CONFIG_WOLFSSL_HAS_CHACHA_POLY=y
CONFIG_WOLFSSL_HAS_DH=y
CONFIG_WOLFSSL_HAS_ECC25519=y
CONFIG_WOLFSSL_HAS_NO_HW=y
CONFIG_WOLFSSL_HAS_OCSP=y
CONFIG_WOLFSSL_HAS_OPENVPN=y
CONFIG_WOLFSSL_HAS_SESSION_TICKET=y
CONFIG_WOLFSSL_HAS_TLSV10=y
CONFIG_WOLFSSL_HAS_TLSV13=y
CONFIG_WOLFSSL_HAS_WPAS=y
CONFIG_WPA_MSG_MIN_PRIORITY=3
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
